table,td,th{
    border-color: brown;
    border: 1px solid;    
}
td{
    padding: 25px;
}
table{
    padding: 1px;
    margin: 150px 5% 50px 45%;
}
h1{
    font-weight: 100;
    font-size: 50px;
    font-family: Tahoma;
    color: white;
    text-align: center;   
}
p{
    font-size: 25px;
    font-family:arial;
    font-weight: 400;
    margin-left: 20px;
    
}